# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Environment variables
.env

# Database files
*.db
*.sqlite3
data/cohort_analysis_ready_file_template_Identified_01-27-25.xlsx
data/course_analysis_ready_file_template_Identified_01_27_25.xlsx
data/financialaid_analysis_ready_file_template.xlsx
database_summary_20251022.xlsx
